*.js     linguist-language=JavaScript
*.jsx    linguist-language=JavaScript
*.ts     linguist-language=TypeScript
*.html   linguist-language=HTML
*.css    linguist-language=CSS
*.tailwindcss       linguist-language=CSS
*.vite.config.js    linguist-language=JavaScript
*.react.js          linguist-language=JavaScript